body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}
.container{
    margin-top: 20px;
    width: 100%;
}

.social-icons {
    float: left;
    padding: 25px 50px;
  }
  
.map {
    float: right;
    padding-right: 50px;
  }
  
.social-map {
    background-color: #e9ece9;
    padding: 20px;
    width: 100%;
  }

  .sobre-nosotros{
    text-align:justify;
   
    
  }